@import "../../responsive.scss";

.searchBar{
    .type{
        button{
            padding: 16px 36px;
            border: 1px solid #b5b2a9;
            cursor: pointer;

            &.active{
                background-color: black;
                color: aliceblue;
                cursor: pointer;
            }

            &:first-child{
                border-top-left-radius: 5px;
                border-right: none;
            }

            &:last-child{
                border-top-right-radius: 5px;
                border-right: none;
            }
        }
    }


    form{
        border: 1px solid gray;
        display: flex;
        justify-content: space-between;
        height: 64px;
        gap: 5px;

        @include sm{
            flex-direction: column;
        }
        
        input{
            border: none;
            padding: 0px 10px;
            width: 200px;

            @include lg{
                padding: 0px 5px;

                &:nth-child(2),&:nth-child(3){
                    width: 140px;
                }
            }

            @include md{
                width: auto;
                &:nth-child(2),
                &:nth-child(3){
                    width: auto;
                }
            }

            @include sm{
                padding: 2px;
               
            }
        }

        button{
            border: none;
            cursor: pointer;
            background-color: rgb(255, 232, 99);
            flex: 1;
        }

        img{
            width: 40px;
            height: 40px;
        }
    }
}